.code
{
	background-color: #113;
	height: 650px;
	width: 100%;
	overflow: none;
}

#main-content {
	width: 100%;
}
.inner {
	width: 95%;
}

#error_text {
	width: 100%;
	border: 0;
	float: left;
	background-color: transparent;
	color: red;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 13px;
	height: 30px;
	overflow: none;
	border-bottom: 1px solid white;
}

#kal_container {
	width: 47%;
	float: left;
	cursor: text;
	height: 600px;
	border: 0;
	background-color: transparent;
	overflow: none;
}

#js_container {
	width: 47%;
	float: right;
	cursor: text;
	height: 600px;
	color: white;
	border: 0;
	background-color: transparent;
	overflow: none;
}
header {
	padding-bottom: 10px;
	padding-top: 10px;
}
#js_results {
	white-space: pre;
	text-transform: none;
	overflow-y: auto;
	width: auto;
	height: auto;
	background-color: transparent;
	color: white;
	border: 0;
	height: 600px;
	padding: 0;
}

#kal_source {
	border: 0;
	overflow-y: auto;
	resize: none;
	background: transparent;
	outline: none;
	color: white;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 13px;
	width: 100%;
	height: 600px;
}
.green-button {
	border-radius: 0.5em;
	border-style: none;
	background-color: #4c4;
	color: #cfc;
	box-shadow: none;
	outline: none;
	font-size: 14px;
	height: 40px;
	width: 100px;
	margin-top: 5px;
}
.green-button:hover {
	color: #fff;
	background-color: #5d5;
}